<!DOCTYPE html>
<html>
<head>
    <title>Login - BudgetWise</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Welcome to BudgetWise - AI Based Expense App</h2>
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
        <button onclick="login()">Login</button>
        <p>Don't have account? <a href="/signup">Signup</a></p>
    </div>

<script src="/static/script.js"></script>
</body>
</html>
