<!DOCTYPE html>
<html>
<head>
    <title>Signup - BudgetWise</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Signup - BudgetWise</h2>

        <input type="text" id="username" placeholder="Username">
        
        <input type="email" id="email" placeholder="Email">

        <input type="password" id="password" placeholder="Password">

        <input type="password" id="confirm_password" placeholder="Confirm Password">

        <button onclick="signup()">Signup</button>

        <p>Already have account? <a href="/login">Login</a></p>
    </div>

<script src="/static/script.js"></script>
</body>
</html>
